<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!--配置WqDispatcherServlet  作为自己的前端控制器-->
  <servlet>
    <servlet-name>WqDispatcherServlet</servlet-name>
    <servlet-class>com.wq.wqspringmvc.servlet.WqDispatcherServlet</servlet-class>

    <!--给WqDispatcherServlet配置参数  指定要操作的spring容器配置文件-->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:wqspringmvc.xml</param-value>
    </init-param>

    <!--WqDispatcherServlet在tomcat启动时 自动加载-->
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>WqDispatcherServlet</servlet-name>
    <!--拦截所有请求-->
    <url-pattern>/</url-pattern>
  </servlet-mapping>






</web-app>
